*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;

}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.flex{
    display: flex;
}
.flexrow{
    display: flex;
    flex-direction: row;

}
.flexcol{
    display: flex;
    flex-direction: column;

}
.f-space-around{
    justify-content: space-around;
}
.f-space-between{
    justify-content: space-between;
}
nav{
    background-color: blue;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    
}
.fa-solid{
    color: white;
}
.card-container{
    width: 90%;
    margin: auto;
    margin-bottom: 10%;


}
.card{
    background-color: aquamarine;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    margin-top: 2%;

}
h2{
    padding-top: 10%;
    width: 90%;
    color: blue;
    margin: auto;
}
p{
    padding-top: 10%;
    
    
}
.download-btn{
    color: white;
    border-style: none;
    border-radius: 50px;
    width: 80%;
    
    background-color: blue;
    font-size: 1.5em;
    margin-top: 5%;

}
.img-phone{
    width: 100%;
    padding-top: 10%;
    display: block;
}
.fa-file-code{
    font-size: 5em;
    color: blue;
    margin-top: 10%;   
}
.fa-attributes{
    font-size: 5em;
    color: blue;
    margin-top: 10%; 
} 
.p-card {
    margin-bottom: 10%;
}
.btn-container > button{
    display: none;
}
.section-planning{
    background-color: rgb(149,147,230);
    padding-bottom: 50px;
}
.container-img-planning1{
    width: 90%;
    margin: 0 auto; 
}
.img-planning1{
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}
.container-img-planning1 > h2{
    color: white;
    font-size: 2em;
    margin: 0%;
}
.container-img-planning1 > p{
    color: white;
    font-size: 0.5em;
    margin: 0%;
}
.container-img-planning2{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%; 
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
.img-planning2{
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}
.container-img-planning2 > h3{
    
    font-size: 0.8em;
}
.container-img-planning2 > p{
    padding-top: 2%;
    font-size: 0.5em;
}
.container-img-planning2 > .fa-solid{
    color: black;
    background-color: rgb(149,147,230);
    padding: 8px;
    border-radius: 50%;

}
.section-testimonials{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.section-testimonials > h3{
    margin-top: 20px;
    font-size: 2rem;
}
.testimonial-card{
    margin: auto;
    
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(149,147,230);
    border-radius: 50px;
    color: white;
}
.testimonial-img{
    margin: auto;
    align-items: center;
    width: 150px;
    height: 150px;
}
.testimonial-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.info-testimonial{
    font-size: 1.2rem;
}
.info-testimonial > h3{
    margin: 40px;
}
ul{
    list-style: none;
}
.sec-benefits{
    background-color:rgb(149,147,230);
    margin-top: 100px;
    padding-bottom: 50px;
}
.sec-benefits > h2{
    margin: auto;
    text-align: center;
}
.card-benefits{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
    padding-top: 50px;
}
.info-benefits{
    width: 90%;
    margin: 0 auto;
}
.n-ben{
    font-size: 3rem;
    color: rgb(149,147,230);
}
.title-ben{
    font-size: 1.5rem;
    color: rgb(149,147,230);
    margin-top: 20px;
}
.p-ben{
    line-height: 2rem;
    padding-top: 20px;
}
.btn-ben{
    width: 200px;
    background-color: rgb(149,147,230);
    color: white;
    font-size: 1.25rem;
    border-style: none;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.title-sec-benefits{
    width: 80%;
    margin: auto;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 40px;
}
.title-sec-benefits > h2{
    color: white;
}
.sec-about-us{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.title-sec-about-us{
    color: rgb(149,147,230);
    font-size: 3rem;
    margin-bottom: 30px;
}
.p-sec-about-us{
    line-height: 2.5rem;
}
.img-about{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
}
.info-about{
    color: rgb(149,147,230);
    line-height: 2.5rem;
    font-size: 1.5rem;
}
.btn-linkedin{
    width: 180px;
    background-color: rgb(149,147,230);
    color: white;
    font-size: 1rem;
    border-style: none;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
}
/* MEDIA QUERY */
@media screen and (min-width:768px) 
{
    .first-row-container{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
   
   .img-phone{
    max-width: 500px;
   }
    .card1{
        width: 70%;
        text-align: left;  
    }
    .info-card > p{
        margin-left: 5%;  
    }
    .info-card > .download-btn{
        margin-left: 5%; 
        width: 45%;
        font-size: 1.2em;
        padding-top: 2%;
        padding-bottom: 2%;
    }
   .img-phone{
    width: 250px;
   }
    .card2{
        width: 27%;
    }
    .second-row-container{
        display: flex;
        justify-content: space-between;
    }
    .card3{
        width: 32%;
    }
    .card4{
        width: 32%;
    }

.card5{
    width: 32%;
}
.testimonial-card{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.info-testimonial{
    width: 65%;
}
.info-testimonial > p{
    line-height: 1em;
}

.testimonial-img > img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.container-ben{
    display: flex; 
    flex-wrap: wrap;
}
.card-benefits{
    width: 46%;
}
.sec-about-us{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
.about-us{
    width: 48%;
}
.container-tizio{
    width: 40%;
}
}
@media screen and (min-width:1200px)
{
    main{
        width: 100%;
        margin: 0 auto;
        
    }
    .section1{
        width: 80%;
        margin: 0 auto;
    }
    div > .fa-bars{
    display: none;
  }
  .btn-container{
    display: flex;
    flex-direction: row;
  }
  .btn-container > button{
    display: inline-block;
    margin-left: 5vw;
 }
  .btn-nav{
    border-style: none;
    background-color: blue;
    color: white;
 }
 .btn-nav-start{
    border-style: none;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 15px;
 }
  nav > div > button{
    display: inline-block;
}
.card1{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 66%;
}
.card2{
    width: 32%;
}
.info-card{
    width: 50%;
}
.img-container{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.img-phone{
   min-width: 200px;
   
}
.info-card > h2{
    padding-top: 0%;
}
.section-planning{
    width: 100%;  
    display: flex;
      
}
.container-planning{
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    justify-content: space-between;
    gap: 40px;
}

.container-img-planning1{
    width: 50%; 
    margin: 0;
}
.container-img-planning1 > p{
      font-size: 1em;
  }
.container-img-planning2{
    width: 50%; 
    margin: 0;
    align-self: end; 
  }
  .container-img-planning2 > h3{
    font-size: 1.2rem;
}
  .container-img-planning2 > p{
    font-size: 1rem;
}
.testimonial-card{
    flex-direction: row;
    text-align: left;
}
.testimonial-img{
    width: 200px;
    height: 200px;
}
.testimonial-img > img{
    width: 200px;
    height: 200px;
}
.info-testimonial > p{
    width: 90%;
}
.container-ben{
    display: flex; 
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.card-benefits{
    width: 32%;
}
.about-us{
    width: 60%;
}
.container-tizio{
    width: 20%;
}
}